<div class="container">

	
		<button><%= link_to "Add a user",signup_path %></button>
		<br>
		<br>
		<button><%= link_to "Add a document", new_document_path %></button>
		<br>
		<br>
		<button><%= link_to "All groups", groups_path %></button>

</div>