<div class="container">
	<button><%=link_to "Add a user", new_group_users_group_path(@group) %></button>
 <%@users.each do |user| %>
	<%=link_to "Edit a user", edit_user_path(user) %>  <p>Name:    <%=user.username %></p>
	  <% end %>
</div>
