<h1>Welcome, Please Train Yourself!</h1>

<ul>
  <% @documents.each do |document| %>
   <li><h4><%= document.group.group_type %></h4></li>
   <li><%= link_to document.content, document_path(document)%></li>
  <% end %>
</ul>
