
<h1>Select Your Training</h1>


<ul>
  <% @groups.each do |group| %>
  <div class="item-div text-center">
    <li><h4><%= group.group_type %></h4></li>
    <% group.documents.each do |document| %>
      <li><%= link_to document.title, document_path(document)%></li>
    <% end %>
  </div>
  <% end %>
</ul>
