<h1>Welcome, Please Train Yourself!</h1>

<ul>
  <% @groups.each do |group| %>
    <li><h4><%= group.group_type %></h4></li>
    <% group.documents.each do |document| %>
      <li><%= link_to document.title, document_path(document)%></li>
    <% end %>
  <% end %>
</ul>
